In [1]:
import pandas as pd

In [2]:
#URLs to CSV from google drive
url1 = 'https://drive.google.com/file/d/1QO5zmytPKui7W9LpPmrI6DHZr1Ah7HFR/view?usp=sharing'
url2 = 'https://drive.google.com/file/d/1hPT-N6ECvbhZDSO4yucPKhVEhDQG0VQw/view?usp=sharing'
url3 = 'https://drive.google.com/file/d/1cCUBzDxIufQoDQTHnSV15eylitN4v_3W/view?usp=sharing'

In [3]:
#function to import csvs from google drive
def importer(url): 
    df = pd.read_csv('https://drive.google.com/uc?export=download&id='+url.split('/')[-2])
    return df

In [4]:
#function to check df
def checker(df):
    display(type(df))
    display(df.shape)
    display(df.head(3))

In [5]:
great = importer(url1)

In [6]:
ultra = importer(url2)

In [7]:
pkmn = importer(url3)

# Cleaning

In [8]:
great = great.assign(league='great')
ultra = ultra.assign(league='ultra')
pkmn = pkmn.assign(league='dex_list')

In [9]:
checker(pkmn)

pandas.core.frame.DataFrame

(1194, 14)

,ID,Name,Form,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,league
0,1,Bulbasaur,,Grass,Poison,318,45,49,49,65,65,45,1,dex_list
1,2,Ivysaur,,Grass,Poison,405,60,62,63,80,80,60,1,dex_list
2,3,Venusaur,,Grass,Poison,525,80,82,83,100,100,80,1,dex_list

In [ ]:
#concat of great and ultra league
list = [great, ultra]
league = pd.concat(list)
league

In [18]:
league.columns

Index(['Pokemon', 'Score', 'Dex', 'Type 1', 'Type 2', 'Attack', 'Defense',
       'Stamina', 'Stat Product', 'Level', 'CP', 'Fast Move', 'Charged Move 1',
       'Charged Move 2', 'Charged Move 1 Count', 'Charged Move 2 Count',
       'Buddy Distance', 'Charged Move Cost', 'league'],
      dtype='object')

In [20]:
#test to rename columns to lower case
league.columns = league.columns.str.lower()

In [22]:
#using str.replace() to do snake case
league.columns = league.columns.str.replace(' ','_')

In [26]:
league.columns

Index(['pokemon', 'score', 'dex', 'type_1', 'type_2', 'attack', 'defense',
       'stamina', 'stat_product', 'level', 'cp', 'fast_move', 'charged_move_1',
       'charged_move_2', 'charged_move_1_count', 'charged_move_2_count',
       'buddy_distance', 'charged_move_cost', 'league'],
      dtype='object')

# Exporting Data
Export locally, then pushing to remote

In [24]:
#exporting data as CSV locally, then pushed to remote
league.to_csv('gl_ul_concat.csv', index=False)

# Analysis

In [28]:
league.head()

,pokemon,score,dex,type_1,type_2,attack,defense,stamina,stat_product,level,cp,fast_move,charged_move_1,charged_move_2,charged_move_1_count,charged_move_2_count,buddy_distance,charged_move_cost,league
0,Medicham,96.3,308,fighting,psychic,106.9,139.5,141,2102958,49.0,1500,Counter,Ice Punch,Psychic,6,8,3,50000,great
1,Carbink,96.1,703,rock,fairy,84.9,247.9,126,2650835,50.0,1500,Rock Throw,Rock Slide,Moonblast,9,12,5,75000,great
2,Lickitung,94.9,108,normal,none,98.3,126.9,183,2282878,50.0,1498,Lick,Body Slam,Power Whip,12,17,3,50000,great
3,Gligar (Shadow),94.1,207,ground,flying,108.0,146.2,130,2052969,30.5,1493,Wing Attack,Aerial Ace,Dig,5,7,5,75000,great
4,Registeel,93.7,379,steel,none,95.5,189.6,130,2353244,23.0,1499,Lock On,Focus Blast,Zap Cannon,15,16,20,100000,great

In [12]:
league.Pokemon.value_counts().head(3)

Pokemon
Lumineon    2
Magmar      2
Beartic     2
Name: count, dtype: int64

In [27]:
#find the frequency of types 
league.type_1.value_counts()

type_1
water       189
normal      152
grass       147
fire        106
rock        102
psychic     100
bug          97
electric     89
ground       76
poison       75
fighting     70
dark         70
dragon       63
ice          62
ghost        55
steel        53
fairy        29
flying        6
Name: count, dtype: int64

In [29]:
league.league.value_counts()

league
great    888
ultra    653
Name: count, dtype: int64

In [31]:
#test to using groupby to combine some agg functs together
league.groupby('type_1').agg({
    'score':['mean', 'max'],
}).reset_index()

      type_1      score
                   mean   max
0        bug  72.513402  89.7
1       dark  73.082857  91.6
2     dragon  75.496825  93.0
3   electric  74.387640  87.8
4      fairy  73.893103  87.4
5   fighting  76.785714  96.3
6       fire  72.060377  87.8
7     flying  64.200000  84.9
8      ghost  73.545455  92.2
9      grass  73.051701  91.2
10    ground  72.992105  94.1
11       ice  75.700000  89.8
12    normal  68.730263  94.9
13    poison  74.353333  88.6
14   psychic  65.231000  94.1
15      rock  70.771569  96.1
16     steel  73.483019  98.6
17     water  74.270899  93.2