In [1]:
import pandas as pd

In [14]:
#URLs to CSV from google drive
url1 = 'https://drive.google.com/file/d/1QO5zmytPKui7W9LpPmrI6DHZr1Ah7HFR/view?usp=sharing'
url2 = 'https://drive.google.com/file/d/1hPT-N6ECvbhZDSO4yucPKhVEhDQG0VQw/view?usp=sharing'
url3 = 'https://drive.google.com/file/d/1cCUBzDxIufQoDQTHnSV15eylitN4v_3W/view?usp=sharing'

In [9]:
#function to import csvs from google drive
def tester(url): 
    df = pd.read_csv('https://drive.google.com/uc?export=download&id='+url.split('/')[-2])
    return df

In [4]:
#function to check df
def checker(df):
    display(type(df))
    display(df.shape)
    display(df.head(3))

In [11]:
great = tester(url1)

In [12]:
ultra = tester(url2)

In [15]:
pkmn = tester(url3)

In [16]:
checker(great)

pandas.core.frame.DataFrame

(888, 18)

,Pokemon,Score,Dex,Type 1,Type 2,Attack,Defense,Stamina,Stat Product,Level,CP,Fast Move,Charged Move 1,Charged Move 2,Charged Move 1 Count,Charged Move 2 Count,Buddy Distance,Charged Move Cost
0,Medicham,96.3,308,fighting,psychic,106.9,139.5,141,2102958,49.0,1500,Counter,Ice Punch,Psychic,6,8,3,50000
1,Carbink,96.1,703,rock,fairy,84.9,247.9,126,2650835,50.0,1500,Rock Throw,Rock Slide,Moonblast,9,12,5,75000
2,Lickitung,94.9,108,normal,none,98.3,126.9,183,2282878,50.0,1498,Lick,Body Slam,Power Whip,12,17,3,50000

In [17]:
checker(ultra)

pandas.core.frame.DataFrame

(653, 18)

,Pokemon,Score,Dex,Type 1,Type 2,Attack,Defense,Stamina,Stat Product,Level,CP,Fast Move,Charged Move 1,Charged Move 2,Charged Move 1 Count,Charged Move 2 Count,Buddy Distance,Charged Move Cost
0,Registeel,98.6,379,steel,none,122.8,242.2,171,5086235,49.0,2500,Lock On,Focus Blast,Zap Cannon,15,16,20,100000
1,Steelix,95.9,208,steel,ground,127.0,237.5,162,4887002,48.0,2497,Dragon Tail,Breaking Swipe,Earthquake,4,8,5,75000
2,Cobalion,94.7,638,steel,fighting,146.2,179.3,163,4272667,30.5,2500,Double Kick,Sacred Sword,Stone Edge,3,5,20,100000

In [18]:
checker(pkmn)

pandas.core.frame.DataFrame

(1194, 13)

,ID,Name,Form,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,,Grass,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,,Grass,Poison,525,80,82,83,100,100,80,1

In [25]:
pkmn = pkmn.rename(columns={'ID':'Dex'})

,Dex,Name,Form,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,,Grass,Poison,405,60,62,63,80,80,60,1

In [36]:
merge = pkmn[['Dex', 'Name']].merge(great[['Dex', 'Pokemon']], on='Dex', how='outer', indicator=True)
checker(merge)

pandas.core.frame.DataFrame

(1650, 4)

   Dex       Name             Pokemon _merge
0    1  Bulbasaur           Bulbasaur   both
1    1  Bulbasaur  Bulbasaur (Shadow)   both
2    2    Ivysaur             Ivysaur   both

In [37]:
#more rows because of the shadow pokemon
merge

       Dex          Name             Pokemon     _merge
0        1     Bulbasaur           Bulbasaur       both
1        1     Bulbasaur  Bulbasaur (Shadow)       both
2        2       Ivysaur             Ivysaur       both
3        2       Ivysaur    Ivysaur (Shadow)       both
4        3      Venusaur            Venusaur       both
...    ...           ...                 ...        ...
1645  1006  Iron Valiant                 NaN  left_only
1646  1007      Koraidon                 NaN  left_only
1647  1008      Miraidon                 NaN  left_only
1648  1009  Walking Wake                 NaN  left_only
1649  1010   Iron Leaves                 NaN  left_only

[1650 rows x 4 columns]

In [34]:
merge._merge.value_counts()

_merge
both          1187
left_only      463
right_only       0
Name: count, dtype: int64

In [ ]:
#there are 463 pokemon