In [1]:
import pandas as pd

In [19]:
#URLs to CSV from google drive
url1 = 'https://drive.google.com/file/d/1QO5zmytPKui7W9LpPmrI6DHZr1Ah7HFR/view?usp=sharing'
url2 = 'https://drive.google.com/file/d/1hPT-N6ECvbhZDSO4yucPKhVEhDQG0VQw/view?usp=sharing'
url3 = 'https://drive.google.com/file/d/1cCUBzDxIufQoDQTHnSV15eylitN4v_3W/view?usp=sharing'
GCS_link =

In [20]:
#function to import csvs from google drive
def importer(url): 
    df = pd.read_csv('https://drive.google.com/uc?export=download&id='+url.split('/')[-2])
    return df

In [22]:
#function to check df
def checker(df):
    display(type(df),
    df.shape,
    df.head(3)
    )

In [23]:
great = importer(url1)

In [24]:
ultra = importer(url2)

In [25]:
pkmn = importer(url3)

# Cleaning

In [26]:
great = great.assign(league='great')
ultra = ultra.assign(league='ultra')
pkmn = pkmn.assign(league='dex_list')

In [27]:
checker(pkmn)

pandas.core.frame.DataFrame

(1194, 14)

,ID,Name,Form,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,league
0,1,Bulbasaur,,Grass,Poison,318,45,49,49,65,65,45,1,dex_list
1,2,Ivysaur,,Grass,Poison,405,60,62,63,80,80,60,1,dex_list
2,3,Venusaur,,Grass,Poison,525,80,82,83,100,100,80,1,dex_list

In [28]:
#concat of great and ultra league
list = [great, ultra]
league = pd.concat(list)
league

,Pokemon,Score,Dex,Type 1,Type 2,Attack,Defense,Stamina,Stat Product,Level,CP,Fast Move,Charged Move 1,Charged Move 2,Charged Move 1 Count,Charged Move 2 Count,Buddy Distance,Charged Move Cost,league
0,Medicham,96.3,308,fighting,psychic,106.9,139.5,141,2102958,49.0,1500,Counter,Ice Punch,Psychic,6,8,3,50000,great
1,Carbink,96.1,703,rock,fairy,84.9,247.9,126,2650835,50.0,1500,Rock Throw,Rock Slide,Moonblast,9,12,5,75000,great
2,Lickitung,94.9,108,normal,none,98.3,126.9,183,2282878,50.0,1498,Lick,Body Slam,Power Whip,12,17,3,50000,great
3,Gligar (Shadow),94.1,207,ground,flying,108.0,146.2,130,2052969,30.5,1493,Wing Attack,Aerial Ace,Dig,5,7,5,75000,great
4,Registeel,93.7,379,steel,none,95.5,189.6,130,2353244,23.0,1499,Lock On,Focus Blast,Zap Cannon,15,16,20,100000,great
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Regigigas,39.2,486,normal,none,178.7,137.7,141,3471447,21.0,2494,Hidden Power (Ice),Thunder,Focus Blast,8,10,20,100000,ultra
649,Shaymin (Land),38.0,492,grass,none,152.6,157.6,169,4065161,28.5,2490,Zen Headbutt,Grass Knot,Seed Flare,9,13,20,100000,ultra
650,Chansey,35.8,113,normal,none,63.0,120.2,421,3188219,50.0,1418,Zen Headbutt,Psychic,Hyper Beam,10,14,5,75000,ultra
651,Audino,33.6,531,normal,none,108.4,149.6,205,3323780,50.0,1902,Zen Headbutt,Disarming Voice,Hyper Beam,8,14,3,50000,ultra
652,Slaking,28.2,289,normal,none,180.0,108.4,178,3471096,21.0,2500,Yawn,Body Slam,Earthquake,3,6,5,75000,ultra

In [29]:
#test to rename columns to lower case
league.columns = league.columns.str.lower()

In [30]:
#using str.replace() to do snake case
league.columns = league.columns.str.replace(' ','_')

In [31]:
league.columns

Index(['pokemon', 'score', 'dex', 'type_1', 'type_2', 'attack', 'defense',
       'stamina', 'stat_product', 'level', 'cp', 'fast_move', 'charged_move_1',
       'charged_move_2', 'charged_move_1_count', 'charged_move_2_count',
       'buddy_distance', 'charged_move_cost', 'league'],
      dtype='object')

In [33]:
#more than expected
league.dex.value_counts()

dex
741    8
103    8
75     8
28     8
76     8
      ..
311    1
133    1
271    1
575    1
486    1
Name: count, Length: 632, dtype: int64

# Exporting Data
Export locally, then pushing to remote

In [ ]:
#exporting data as CSV locally, then pushed to remote
league.to_csv('gl_ul_concat.csv', index=False)

In [2]:
#brining in data
league = pd.read_csv('gl_ul_concat.csv')

# Analysis

In [3]:
league.head()

,pokemon,score,dex,type_1,type_2,attack,defense,stamina,stat_product,level,cp,fast_move,charged_move_1,charged_move_2,charged_move_1_count,charged_move_2_count,buddy_distance,charged_move_cost,league
0,Medicham,96.3,308,fighting,psychic,106.9,139.5,141,2102958,49.0,1500,Counter,Ice Punch,Psychic,6,8,3,50000,great
1,Carbink,96.1,703,rock,fairy,84.9,247.9,126,2650835,50.0,1500,Rock Throw,Rock Slide,Moonblast,9,12,5,75000,great
2,Lickitung,94.9,108,normal,none,98.3,126.9,183,2282878,50.0,1498,Lick,Body Slam,Power Whip,12,17,3,50000,great
3,Gligar (Shadow),94.1,207,ground,flying,108.0,146.2,130,2052969,30.5,1493,Wing Attack,Aerial Ace,Dig,5,7,5,75000,great
4,Registeel,93.7,379,steel,none,95.5,189.6,130,2353244,23.0,1499,Lock On,Focus Blast,Zap Cannon,15,16,20,100000,great

In [4]:
#looking at the botton 10 pokemon
league.pokemon.value_counts().tail(10)

pokemon
Turtwig                      1
Geodude (Alolan) (Shadow)    1
Smoochum                     1
Magby                        1
Raticate                     1
Porygon                      1
Trapinch (Shadow)            1
Tranquill                    1
Nidorino (Shadow)            1
Regigigas                    1
Name: count, dtype: int64

In [5]:
#find the frequency of types 
league.type_1.value_counts()

type_1
water       189
normal      152
grass       147
fire        106
rock        102
psychic     100
bug          97
electric     89
ground       76
poison       75
fighting     70
dark         70
dragon       63
ice          62
ghost        55
steel        53
fairy        29
flying        6
Name: count, dtype: int64

In [6]:
league.league.value_counts()

league
great    888
ultra    653
Name: count, dtype: int64

In [11]:
#test to using groupby to combine some agg functs together
league.groupby('type_1').agg({
    'score':['mean', 'max'],
    'type_2': 'count'
}).reset_index()

      type_1      score       type_2
                   mean   max  count
0        bug  72.513402  89.7     97
1       dark  73.082857  91.6     70
2     dragon  75.496825  93.0     63
3   electric  74.387640  87.8     89
4      fairy  73.893103  87.4     29
5   fighting  76.785714  96.3     70
6       fire  72.060377  87.8    106
7     flying  64.200000  84.9      6
8      ghost  73.545455  92.2     55
9      grass  73.051701  91.2    147
10    ground  72.992105  94.1     76
11       ice  75.700000  89.8     62
12    normal  68.730263  94.9    152
13    poison  74.353333  88.6     75
14   psychic  65.231000  94.1    100
15      rock  70.771569  96.1    102
16     steel  73.483019  98.6     53
17     water  74.270899  93.2    189

In [8]:
list(league.columns)

['pokemon',
 'score',
 'dex',
 'type_1',
 'type_2',
 'attack',
 'defense',
 'stamina',
 'stat_product',
 'level',
 'cp',
 'fast_move',
 'charged_move_1',
 'charged_move_2',
 'charged_move_1_count',
 'charged_move_2_count',
 'buddy_distance',
 'charged_move_cost',
 'league']

In [10]:
league.league.unique()

array(['great', 'ultra'], dtype=object)

In [15]:
league.dex.value_counts().head(10)

dex
741    8
103    8
75     8
28     8
76     8
105    8
711    8
38     8
89     8
59     6
Name: count, dtype: int64

In [18]:
league[league['dex']==103]

,pokemon,score,dex,type_1,type_2,attack,defense,stamina,stat_product,level,cp,fast_move,charged_move_1,charged_move_2,charged_move_1_count,charged_move_2_count,buddy_distance,charged_move_cost,league
476,Exeggutor (Alolan) (Shadow),72.1,103,grass,dragon,134.4,94.2,131,1659647,18.5,1493,Dragon Tail,Seed Bomb,Draco Meteor,5,8,3,50000,great
562,Exeggutor (Alolan),69.0,103,grass,dragon,134.4,94.2,131,1659647,18.5,1493,Dragon Tail,Seed Bomb,Draco Meteor,5,8,3,50000,great
648,Exeggutor (Shadow),65.9,103,grass,psychic,136.7,93.7,128,1639303,18.5,1497,Bullet Seed,Seed Bomb,Psychic,4,5,3,50000,great
664,Exeggutor,65.4,103,grass,psychic,136.7,93.7,128,1639303,18.5,1497,Bullet Seed,Seed Bomb,Psychic,4,5,3,50000,great
1334,Exeggutor (Alolan) (Shadow),68.0,103,grass,dragon,172.7,122.9,169,3587353,30.0,2489,Dragon Tail,Seed Bomb,Draco Meteor,5,8,3,50000,ultra
1353,Exeggutor (Alolan),66.9,103,grass,dragon,172.7,122.9,169,3587353,30.0,2489,Dragon Tail,Seed Bomb,Draco Meteor,5,8,3,50000,ultra
1413,Exeggutor (Shadow),62.9,103,grass,psychic,175.6,121.5,166,3540669,31.5,2498,Bullet Seed,Psychic,Seed Bomb,5,4,3,50000,ultra
1431,Exeggutor,61.7,103,grass,psychic,175.6,121.5,166,3540669,31.5,2498,Bullet Seed,Psychic,Seed Bomb,5,4,3,50000,ultra